<header>
	<a id="logo" href="/" title="<%=config.title%>">
	<img src="<%=theme.favicon%>" alt="<%=config.title%>"></a>
	
	<%if(theme.search.enable){%>
		<!--搜索栏-->
		<%- partial('search')%>
	<%}%>

	<%if(theme.sidebar.enable){%>
		<!--侧边导航栏-->
		<%- partial('sidebar')%>
	<%}%>


	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-136229408-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-136229408-1');
</script>

</header>